<form (ngSubmit)="onSubmit(titleInput.value,textInput.value)" #form>
    <app-control [label]="'title'">
        <input 
        type="text"
         name="title" 
         id="title" 
         #titleInput 
         #input  
         [(ngModel)]="enteredTitle" 
         />

    </app-control>
    <app-control label="Request">
        <textarea 
        name="request" 
        id="request" 
        rows="3" 
        #textInput 
        #input 
        [(ngModel)]="enteredText"
        ></textarea>
    </app-control>

    <p>
        <button appButton #btn>
            Submit
            <span class="icon">▶</span>
        </button>
    </p>
</form>